@{
    ViewBag.Title = "Početna";
}

@section meta{
    <meta name="google-site-verification" content="9vkjr6F6vfwpE6O_0etWKtopQfSr4sR7RyXhLgvGsiI" />
    <meta name="description" content="Kompanija BAUMAX, osnovana je 2014. godine sa sjedištem u Srebreniku. Osnovna djelatnost firme predstavlja uvođenje instalacija, vodovoda, kanalizacija i plina za grijanje i klimatizaciju." />
    <link href="https://www.baumax.ba/" rel="canonical" />
    <meta property="og:url" content="https://www.baumax.ba/" />
    <meta property="og:title" content="BauMax Instalacija sistema za klimatizaciju, vodovod i kanalizaciju" />
    <meta property="og:description" content="Kompanija BAUMAX, osnovana je 2014. godine sa sjedištem u Srebreniku, ulici Ismeta Ahmetovica BB. Osnovna djelatnost firme predstavlja uvođenje instalacija, vodovoda, kanalizacija i plina za grijanje i klimatizaciju." />
    <meta property="og:image:alt" content="BAUMAX" />
    <meta property="og:type" content="website" />
}

<div role="main" class="main">

    <div class="owl-carousel-wrapper banner-carousel">
        <div class="owl-carousel dots-inside dots-horizontal-center show-dots-hover nav-style-diamond custom-nav-with-transparency nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': false, 'autoHeight': false, 'margin': 0, 'dots': false, 'dotsVerticalOffset': '-75px', 'nav': false, 'animateIn': 'fadeIn', 'animateOut': 'fadeOut', 'mouseDrag': false, 'touchDrag': false, 'pullDrag': false, 'autoplay': true, 'autoplayTimeout': 9000, 'autoplayHoverPause': true, 'rewind': true}">

            <!-- Carousel Slide 1 -->
            <div class="position-relative main-slides sl1">

                <div class="position-absolute bottom-10 w-100pct w-sm-75pct w-lg-50pct appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}" style="right: -50px;">
                    <div class="bg-primary custom-skew-1 mb-5" style="height: 70px;"></div>
                </div>
                <div class="container position-relative z-index-1 h-100">
                    <div class="row align-items-end h-100">
                        <div class="col-10 col-sm-8 col-lg-5 ml-auto">
                            <h1 class="text-color-light font-weight-light mb-0 text-5 text-md-6 position-relative bottom-7 mb-5 pb-3 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="850" data-plugin-options="{'minWindowWidth': 0}">Vaš partner u izgradnji</h1>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carousel Slide 2 -->
            <div class="position-relative main-slides sl2">

                <div class="position-absolute bottom-10 w-100pct w-sm-75pct w-lg-50pct appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}" style="right: -50px;">
                    <div class="bg-primary custom-skew-1 mb-5" style="height: 70px;"></div>
                </div>
                <div class="container position-relative z-index-1 h-100">
                    <div class="row align-items-end h-100">
                        <div class="col-10 col-sm-8 col-lg-5 ml-auto">
                            <h2 class="text-color-light font-weight-light mb-0 text-5 text-md-6 position-relative bottom-7 mb-5 pb-3 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="850" data-plugin-options="{'minWindowWidth': 0}">Izvanredna instalacija i kvalitet</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row mt-4 mt-lg-5 mb-4 py-4">
            <div class="col-lg-4">
                <h2 class="mb-0 text-color-dark">BAUMAX d.o.o.</h2>
                <p class="lead">Ko smo mi?</p>
            </div>
            <div class="col-lg-2 text-center d-none d-lg-block">
                <img src="~/Content/images/construction/logo.png" class="img-fluid" alt="O kompaniji BauMax DOO Kiseljak" />
            </div>
            <div class="col-lg-6">
                <p>
                    Mi smo kvalitetan, profesionalan i odvažan tim koji se ne boji izazova. Spremni smo da brzo i
                    efikasno odgovorimo na zahtjeve koji se svakodnevno postavljaju pred izvođače radova a
                    ogledaju se u novim potrebama tržišta. Osnovnu djelatnost firme predstavlja instalacija
                    kompletnog sistema vodovoda, kanalizacije, centralnog grijanja i klimatizacije.
                </p>
                <a class="mt-3" href="@Url.Action("Index","About")">
                    Pročitaj više <i class="fas fa-long-arrow-alt-right"></i>
                </a>
            </div>
        </div>
    </div>

    <section class="section section-tertiary section-no-border section-custom-construction">
        <div class="container">
            <div class="row pt-4">
                <div class="col">
                    <h2 class="mb-0 text-color-dark">Usluge</h2>
                    <p class="lead">Instalacija kompletnog sistema za vodovod i kanalizaciju, centralno grijanje i klimatizaciju.</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12">
                    <div class="feature-box feature-box-style-2 custom-feature-box mb-4 appear-animation"
                         data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                        <div class="feature-box-icon w-auto">
                            <img src="~/Content/images/construction/icons/service2.jpg" alt="Usluga Vodovod" class="img-fluid"
                                 width="55" />
                        </div>
                        <div class="feature-box-info ml-3">
                            <h4 class="mb-2">Vodovod i kanalizacija</h4>
                            <p>
                                Brzo, kvalitetno i odgovorno pristupamo instalaciji kompletnog sistema vodovoda i
                                kanalizacije, te montaži sanitarnih uređaja (tuš kabine, kade, wc školjke, baterije,
                                umivaonici…) u svim stambenim i poslovnim objektima (domaćinstva, zgrade, hale itd.). S
                                obzirom da razumijemo važnost brzog popravka kvara na vodovodnim instalacijama
                                vršimo <b>servisiranje i održavanje</b> postojećih instalacija vodovodnih i odvodnih instalacija.
                                Vršimo usluge pročepljenja i čišćenja odvoda električnom sajlom.
                            </p>
                            <a class="mt-3" href="@Url.Action("Index", "Services")">
                                Više <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-6">
                    <div class="feature-box feature-box-style-2 custom-feature-box mb-4 appear-animation"
                         data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                        <div class="feature-box-icon w-auto">
                            <img src="~/Content/images/construction/icons/service3.jpg" alt="Usluga Kanalizacija" class="img-fluid"
                                 width="55" />
                        </div>
                        <div class="feature-box-info ml-3">
                            <h4 class="mb-2">Kanalizacija</h4>
                            <p>
                                Otklanjanje kvarova vodovoda i kanalizacije i hidrantske mreže u stambeno-poslovnim objektima. Čišćenje, sanacija i ugradnja sanitarnih uređaja.
                            </p>
                            <a class="mt-3" href="@Url.Action("Index", "Services")">
                                Više <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>*@
            </div>

            <div class="row mt-3 mb-4">
                <div class="col-12">
                    <div class="feature-box feature-box-style-2 custom-feature-box mb-4 appear-animation"
                         data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                        <div class="feature-box-icon w-auto">
                            <img src="~/Content/images/construction/icons/service4.jpg" alt="Usluga Grijanje" class="img-fluid"
                                 width="55" />
                        </div>
                        <div class="feature-box-info ml-3">
                            <h4 class="mb-2">Centralno grijanje</h4>
                            <p>
                                Kvalitetna usluga ugradnje, servisiranja i održavanja centralnog grijanja, plinskih uređaja svih
                                vrsta i namjena. Izvodimo adaptacije i izmjene na postojećim sistemima grijanja. Brz
                                dolazak, detekcija problema i profesionalna usluga naših servisera.
                            </p>
                            <a class="mt-3" href="@Url.Action("Index", "Services")">
                                Više <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="feature-box feature-box-style-2 custom-feature-box mb-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                        <div class="feature-box-icon w-auto">
                            <img src="~/Content/images/construction/icons/service1.jpg" alt="Usluga Klimatizacija"
                                 class="img-fluid" width="55" />
                        </div>
                        <div class="feature-box-info ml-3">
                            <h4 class="mb-2">Klimatizacija</h4>
                            <p>
                                Klimatizacija je proces održavanja željene temperature, vlažnosti i čistoće zraka u
                                zatvorenim prostorima radi osiguravanja uvjeta za udoban boravak i rad ljudi te uvjeta
                                potrebnih za rad nekog uređaja, odvijanje procesa i sl.. Ugradnju klima uređaja i klima
                                sistema izvodimo na stambenim i poslovnim objektima: kuće, stanovi, poslovni prostori,
                                hoteli, konferencijske sale, ugostiteljski objekti, vjerski objekti, skladišta, server sobe itd.
                            </p>
                            <a class="mt-3" href="@Url.Action("Index", "Services")">
                                Više <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*<section class="pt-3 pb-4 home-concept-construction">
        <div class="container">
            <div class="row pt-4">
                <div class="col">
                    <h2 class="mb-0 text-color-dark">Stepenište uspjeha</h2>
                    <p class="lead">Usponi i padovi su sastavni dio naših života i karijera.</p>

                    <div class="diamonds-wrapper lightbox"
                         data-plugin-options="{'delegate': '.diamond', 'type': 'image', 'gallery': {'enabled': true}}">
                        <ul class="diamonds">
                            <li>
                                <a href="~/Content/images/construction/gallery/step1.jpg"
                                   class="diamond">
                                    <div class="content">
                                        <img src="~/Content/images/construction/gallery/step1.jpg"
                                             class="img-fluid" alt="1. Čvrsta volja i htijenje za ostvarenjem željenog cilja" />
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="~/Content/images/construction/gallery/step2.jpg"
                                   class="diamond">
                                    <div class="content">
                                        <img src="~/Content/images/construction/gallery/step2.jpg"
                                             class="img-fluid" alt="2. Kreiranje plana i koraka za naredni period. Iskreno i objektivno." />
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="~/Content/images/construction/gallery/step3.jpg"
                                   class="diamond">
                                    <div class="content">
                                        <img src="~/Content/images/construction/gallery/step3.jpg"
                                             class="img-fluid" alt="3. Spremnost za suočavanje sa izazovima i neprilikama. Znati prihvatiti poraz." />
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="~/Content/images/construction/gallery/step4.jpg"
                                   class="diamond diamond-sm">
                                    <div class="content">
                                        <img src="~/Content/images/construction/gallery/step4.jpg"
                                             class="img-fluid" alt="4. Istrajati u svojim namjerama i stvoriti krug povjerenja sa ljudima s kojima radimo." />
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="~/Content/images/construction/gallery/step5.jpg"
                                   class="diamond">
                                    <div class="content">
                                        <img src="~/Content/images/construction/gallery/step5.jpg"
                                             class="img-fluid" alt="5. Uspjeh je na korak od nas, sada zavisi od nas koliko vjerujemo u sebe i svoj cilj." />
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="~/Content/images/construction/gallery/step6.jpg"
                                   class="diamond diamond-sm">
                                    <div class="content">
                                        <img src="~/Content/images/construction/gallery/step6.jpg"
                                             class="img-fluid" alt="6. ČESTITAMO! Uspio si zahvaljlujući sebi i svome trudu i zalaganju." />
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="~/Content/images/construction/gallery/step7.jpg"
                                   class="diamond diamond-sm">
                                    <div class="content">
                                        <img src="~/Content/images/construction/gallery/step7.jpg"
                                             class="img-fluid" alt="7. Budimo iskreni, istrajni i spremni uložiti sve kapacitete za bolje sutra." />
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>*@

    <section class="section section-background mb-0"
             style="background-image: url(/Content/images/construction/testimonials-bg.jpg); background-position: 50% 100%; min-height: 540px; background-size: cover;">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-6">

                    <div class="owl-carousel owl-theme nav-bottom rounded-nav mt-4 pt-4 mb-4 pb-4"
                         data-plugin-options="{'items': 1, 'loop': false}">
                        <div>
                            <div class="col">
                                <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-0">
                                    <blockquote>
                                        <p>
                                            Naša vizija je da budemo kompanija koja konstantno postavlja više standarde kako u oblasti poslovanja, trgovine i investicija, tako i u oblasti življenja i koja, ne samo da uvodi navike i trendove, nego ih i predviđa i kreira.
                                        </p>
                                    </blockquote>
                                    <div class="testimonial-author">
                                        <p><strong>Vizija</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col">
                                <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-0">
                                    <blockquote>
                                        <p>
                                            Unaprijediti rad i odnos, stvoriti pogodno tlo za ulaganje stranih investitora, ali i proširiti lične vidike firme ka EU tržištu.
                                        </p>
                                    </blockquote>
                                    <div class="testimonial-author">
                                        <p><strong>Cilj</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="col">
                                <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-0">
                                    <blockquote>
                                        <p>
                                            Prilikom izvođenja radova naglasak stavljamo na profesionalnost, kvalitetu i sigurnost te jedinstveni doprinos svih zaposlenih u realizaciji zadanih projekata. Imamo sve ono što je potrebno za besprijekorno izvršavanje svih vrsta projekata; od najjednostavnijih do najsloženijih. Kvalitetne mašine i alati, te stručni radnici ključ su za ostvarivanje vrhunskih rezultata!
                                        </p>
                                    </blockquote>
                                    <div class="testimonial-author">
                                        <p><strong>Zašto odabrati nas?</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>